---
http_interactions:
- request:
    method: get
    uri: http://openexchangerates.org/api/latest.json?app_id=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 14 Jun 2015 06:01:02 GMT
      Etag:
      - '"c5d79812a541fde218c15b3799ff21c2"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates are provided for informational purposes only, and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, NO guarantees are given whatsoever of accuracy, validity, availability, or fitness for any purpose - please use at your own risk. All usage is subject to your acceptance of the Terms and Conditions of Service, available at: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers with public-facing APIs; copyright may apply; resale is prohibited; no warranties given of any kind. Bitcoin data provided by http://coindesk.com. All usage is subject to your acceptance of the License Agreement available at: https://openexchangerates.org/license/",
          "timestamp": 1434261662,
          "base": "USD",
          "rates": {
            "AED": 3.67319,
            "AFN": 58.95,
            "ALL": 125.9469,
            "AMD": 476.889999,
            "ANG": 1.788825,
            "AOA": 110.276471,
            "ARS": 9.040248,
            "AUD": 1.29347,
            "AWG": 1.793333,
            "AZN": 1.04875,
            "BAM": 1.737255,
            "BBD": 2,
            "BDT": 77.754311,
            "BGN": 1.736156,
            "BHD": 0.377125,
            "BIF": 1557.5,
            "BMD": 1,
            "BND": 1.346038,
            "BOB": 6.89878,
            "BRL": 3.1201,
            "BSD": 1,
            "BTC": 0.0042735408,
            "BTN": 64.095667,
            "BWP": 9.986388,
            "BYR": 15297.5,
            "BZD": 2.00215,
            "CAD": <%= cad %>,
            "CDF": 924.5,
            "CHF": 0.928575,
            "CLF": 0.024602,
            "CLP": 631.708999,
            "CNY": 6.189582,
            "COP": 2528.696676,
            "CRC": 535.562005,
            "CUC": 1,
            "CUP": 0.9998,
            "CVE": 97.87209612,
            "CZK": 24.2191,
            "DJF": 177.366249,
            "DKK": 6.62086,
            "DOP": 44.8906,
            "DZD": 98.406639,
            "EEK": 13.884,
            "EGP": 7.629479,
            "ERN": 15.14,
            "ETB": 20.65774,
            "EUR": <%= eur %>,
            "FJD": 2.06605,
            "FKP": 0.642601,
            "GBP": 0.642601,
            "GEL": 2.2387,
            "GGP": 0.642601,
            "GHS": 4.32316,
            "GIP": 0.642601,
            "GMD": 42.96856,
            "GNF": 7264.975098,
            "GTQ": 7.66188,
            "GYD": 205.926669,
            "HKD": 7.752948,
            "HNL": 21.87228,
            "HRK": 6.70314,
            "HTG": 48.151425,
            "HUF": 277.145103,
            "IDR": 13322.983333,
            "ILS": 3.84346,
            "IMP": 0.642601,
            "INR": 64.091811,
            "IQD": 1191,
            "IRR": 29022.5,
            "ISK": 132.566001,
            "JEP": 0.642601,
            "JMD": 115.78533,
            "JOD": 0.70884,
            "JPY": 123.3994,
            "KES": 97.25264,
            "KGS": 59.866651,
            "KHR": 4109.975098,
            "KMF": 436.851502,
            "KPW": 900.09,
            "KRW": 1113.679982,
            "KWD": 0.301998,
            "KYD": 0.826375,
            "KZT": 186.239,
            "LAK": 8104.975098,
            "LBP": 1509.166667,
            "LKR": 134.083,
            "LRD": 84.580002,
            "LSL": 12.380813,
            "LTL": 3.039049,
            "LVL": 0.623705,
            "LYD": 1.360038,
            "MAD": 9.66909,
            "MDL": 18.10206,
            "MGA": 3219.716683,
            "MKD": 54.68438,
            "MMK": 1102,
            "MNT": 1858.666667,
            "MOP": 7.98448,
            "MRO": 322.5,
            "MTL": 0.683738,
            "MUR": 35.25245,
            "MVR": 15.296667,
            "MWK": 439.484999,
            "MXN": 15.40465,
            "MYR": 3.75088,
            "MZN": 37.5,
            "NAD": 12.38265,
            "NGN": 198.918001,
            "NIO": 26.99994,
            "NOK": 7.749748,
            "NPR": 102.739159,
            "NZD": 1.431444,
            "OMR": 0.38511,
            "PAB": 1,
            "PEN": 3.15522,
            "PGK": 2.729125,
            "PHP": 45.32134,
            "PKR": 101.790001,
            "PLN": 3.680575,
            "PYG": 5133.7,
            "QAR": 3.64192,
            "RON": 3.97017,
            "RSD": 106.817999,
            "RUB": 55.2309,
            "RWF": 706.392493,
            "SAR": 3.750627,
            "SBD": 7.904841,
            "SCR": 13.01273,
            "SDG": 5.974175,
            "SEK": 8.182087,
            "SGD": 1.343853,
            "SHP": 0.642601,
            "SLL": 4209,
            "SOS": 705.010003,
            "SRD": 3.2825,
            "STD": 21845,
            "SVC": 8.7793,
            "SYP": 188.841003,
            "SZL": 12.38165,
            "THB": 33.64052,
            "TJS": 6.2602,
            "TMT": 3.5003,
            "TND": 1.93577,
            "TOP": 2.09384,
            "TRY": 2.713489,
            "TTD": 6.35685,
            "TWD": 31.01314,
            "TZS": 2203.15,
            "UAH": 21.04664,
            "UGX": 3159.45,
            "USD": 1,
            "UYU": 26.71176,
            "UZS": 2542.824951,
            "VEF": 6.31892,
            "VND": 21800,
            "VUV": 106.206668,
            "WST": 2.488873,
            "XAF": 584.579658,
            "XAG": 0.0629045,
            "XAU": 0.0008485,
            "XCD": 2.70102,
            "XDR": 0.711672,
            "XOF": 584.141278,
            "XPF": 106.394174,
            "YER": 215.042999,
            "ZAR": 12.37892,
            "ZMK": 5253.075255,
            "ZMW": 7.318575,
            "ZWL": 322.387247
          }
        }
  recorded_at: Sun, 14 Jun 2015 06:23:52 GMT
recorded_with: VCR 2.9.3
